<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text to Questions</title>
</head>
<body>
    <h1>Введите текст</h1>
    <form action="/process_text" method="post">
        <textarea name="input_text" cols="50" rows="10" required>{{ input_text }}</textarea>
        <br>
        <button type="submit">Преобразовать в вопросы</button>
    </form>
    {% if sentences %}
    <h2>Предложения:</h2>
    <ul>
        {% for sentence in sentences %}
        <li>{{ sentence }}</li>
        {% endfor %}
    </ul>
    <h2>Вопросы:</h2>
    <ul>
        {% for sentence in sentences %}
        <li>
            {% for question in questions %}
            <p>{{ question }} {{ sentence }}?</p>
            {% endfor %}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>